.container {
    position: absolute;
    height: 100vh; /* Adjust as needed */
    display: flex;
    align-items: flex-end; /* Aligns the button container to the bottom */
    bottom: 2px;
    justify-content: left; /* , if needed */
}

.button-container {
    display: flex;
    justify-content: space-between; /* Distributes space evenly between buttons */
    width: 100%; /* Container width is 100% of its parent */
    max-width: 600px; /* Optional: Limits the max width of the button container */
}

.button-container button {
    flex: 1; /* Each button takes equal space */
    margin: 0 0.5%; /* Optional: Adjusts space between buttons */
}

.button-container button:last-child {
    margin-right: 0; /* Removes margin from the last button */
}

/* The side navigation menu ----------------------*/
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0.3s;
    
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Main content */
#main-content button{
    transition: margin-right .5s;
    width: 50px;
    padding: 5px;
    z-index: 9999;
    
}

#main-content {
    position: fixed;
    top: 50px;
    left: 65px;
    width: 80px;
    z-index: 9999;
}

#moldMenu {
    overflow: auto;
}

#moldMenu a:hover{
    cursor: pointer;
}
